<span class="prev"><%= link_to '<< Prev', holidays_path(:prev => @prev, :day => @date.day, :month => @date.month, :year => @date.year), :remote=>true, :id =>"prev" %></span>
<span class="date"><%=@date.strftime("%B")%>&nbsp;&nbsp;<%=@date.year%></span>
<span class="next"><%= link_to 'Next >>', holidays_path(:next => @next,:day => @date.day, :month => @date.month, :year => @date.year), :remote=>true, :id =>"next" %></span>