
<div id ="menu"><%= link_to 'next', holidays_path(:next => @next), :remote=>true, :id =>"next" %></div>
<%=  form_tag holidays_path  do %>
<div id="see"><%= render 'calender' %> </div>
<%=submit_tag 'save'%>
<%  end %>
