<div class="form_container">
  <div id ="menu" >
    <%= render 'browse_calender' %>
  </div>
  <%=  form_tag holidays_path  do %>
      <div id="see"><%= render 'calender' %> </div>
    <%=submit_tag 'save'%>
  <%  end %>
</div>
