  <div class="l_row">
    <span class="l_label">
      Start Date<span class="mandatory">&nbsp;* &nbsp</span>:
    </span>
    <span class="r_label">
      <%= f.text_field :start_date %>
    </span>
  </div>
  <div class="l_row">
    <span class="l_label">
      End Date <span class="mandatory">&nbsp;* &nbsp</span>:
    </span>
    <span class="r_label">
      <%= f.text_field :end_date %>
    </span>
  </div>
  <div class="l_row">
    <span class="l_label">
      Reason For Leave<span class="mandatory">&nbsp;* &nbsp</span>:
    </span>
    <span class="r_label">
      <%= f.text_area :reason_for_leave %>
    </span>
  </div>


