<%= form_for(@leave) do |f| %>
  <div class="error_msg">
    <%= render "error_messages", :target => @leave %>
  </div>
  <div class="form_container">
    <%= render 'form', :f => f %>
    <%=  submit_tag "save" %>
  </div>
<% end %>