<%= form_for(@leave) do |f| %>
  <div class="form_container">
    <div class ="headline">
      Apply for Leaves
    </div>
    <div class="error_msg">
      <%= render "error_messages", :target => @leave %>
    </div>
    <%= render 'form', :f => f %>
    <div class ="bottom_line_wb">
      <%=  submit_tag "save" %>
    </div>
  </div>
<% end %>